*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    width: 100%;
    height: 50px;
    background: rgb(38, 39, 38);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
}
header h1{
    margin: 0 20px;
    color: #fff;
}
header a {
    text-decoration: none;
}
header form{
    display: flex;
    align-items: center;
}
#search{
    width: 230px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    padding-left: 15px;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div{
    width: 250px;
    height: 320px;
    margin: 19px 15px;
    background: red;
}
img{
    width: 100%;
    height: 89%;
    object-fit: cover;
}
h2{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
 

 
